<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>{{ page.title }} | {{ site.title }}</title>
		<link rel="icon" href="/moyai-family.png">
		<link rel="stylesheet" href="{{ "/assets/css/base.css" | relative_url }}">
		<link rel="shortcut icon" href="imgs/moyai-family.png">                                                                                                                                                       
		<meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
		<meta property="og:image" content="imgs/20240306_125517.jpg"/>                                                                                                                                                                                 <meta property="og:description" content="The National Geographic Shart Week official website"/>                                                                                                                                                
		<meta property="og:url" content="https://yeetfolio.github.io"/>
		<meta property="og:type" content="website"/>
		<script src="https://raw.githubusercontent.com/yeetsup-git/yeets-js-library/main/wowmyfistjavascript.js"></script>                                                                                                                     
	</head>
	<body>
		<header>                
			<div class="bannerimg" id="header">
			<h1 class="logo" id="logotext">{{ page.title }} | {{ site.title }}</h1>                                                                                                                                
			<p class="linkbar"><a href="https://github.com/yeetssite">Github</a> | <a href="https://yeetssite.github.io">home</a> | <a href="https://yeetssite.github.io/memes/"> memes </a> | <a href="mailto:itsyeetsup@gmail.com?subject=I%20wanna%20submit%20a%20meme"> submit a meme</a> | <a href="https://yeetssite.github.io/sw/">shortwave</a></p>
			</div>
		</header>
    		{{ content }}
		<footer>                                                                                                                                                                                                                       
			<p><i style="font-size:12px;">created by yeetsup</i></p>
			<div class="linkbar">
				<p><a href="https://github.com/yeetssite">Github</a> | <a href="https://yeetssite.github.io">home</a> | <a href="https://yeetssite.github.io/memes/"> memes </a> | <a href="mailto:itsyeetsup@gmail.com?subject=I%20wanna%20submit%20a%20meme"> submit a meme</a> | <a href="https://yeetssite.github.io/sw/">shortwave</a></p>
			</div>
		</footer>
	</body>
</html>
